{dir, "<%= root %>/<%= bot_name %>"}.
{template, "common/_botsunit", "<%= root %>/<%= bot_name %>/.botsunit"}.

{dir, "<%= root %>/<%= bot_name %>/config"}.
{template, "elixir/config/config.exs", "<%= root %>/<%= bot_name %>/config/config.exs"}.
{template, "elixir/config/dev.exs", "<%= root %>/<%= bot_name %>/config/dev.exs"}.
{template, "elixir/config/prod.exs", "<%= root %>/<%= bot_name %>/config/prod.exs"}.
{template, "elixir/config/test.exs", "<%= root %>/<%= bot_name %>/config/test.exs"}.

{dir, "<%= root %>/<%= bot_name %>/lib"}.
{dir, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/datastores"}.
{file, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/datastores/.gitkeep"}.
{dir, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/message_controllers"}.
{template, "elixir/lib/bot_name/message_controllers/my_resource_controller.ex",
           "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/message_controllers/my_resource_controller.ex"}.

{dir, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/models"}.
{file, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/models/.gitkeep"}.

{dir, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/rest_controllers"}.
{template, "elixir/lib/bot_name/rest_controllers/my_rest_resources_controller.ex",
           "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/rest_controllers/my_rest_resources_controller.ex"}.

{dir, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/services"}.
{file, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/services/.gitkeep"}.

{dir, "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/wok"}.
{template, "elixir/lib/bot_name/wok/initializer.ex",
           "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/wok/initializer.ex"}.
{template, "elixir/lib/bot_name/wok/message_handler.ex",
           "<%= root %>/<%= bot_name %>/lib/<%= bot_name %>/wok/message_handler.ex"}.

{dir, "<%= root %>/<%= bot_name %>/priv"}.
{dir, "<%= root %>/<%= bot_name %>/priv/public_files"}.
{template, "elixir/priv/public_files/hello_world.html",
           "<%= root %>/<%= bot_name %>/priv/public_files/hello_world.html"}.

{template, "elixir/mix.exs", "<%= root %>/<%= bot_name %>/mix.exs"}.
{template, "elixir/README.md", "<%= root %>/<%= bot_name %>/README.md"}.
