{dir, "<%= root %>/<%= project_name %>"}.
{dir, "<%= root %>/<%= project_name %>/config"}.
{dir, "<%= root %>/<%= project_name %>/lib"}.

{template, "elixir/mix.exs", "<%= root %>/<%= project_name %>/mix.exs"}.
{template, "elixir/README.md", "<%= root %>/<%= project_name %>/README.md"}.
{template, "elixir/config/config.exs", "<%= root %>/<%= project_name %>/config/config.exs"}.
{template, "elixir/lib/project_initializer.ex", "<%= root %>/<%= project_name %>/lib/<%= project_name %>_initializer.ex"}.
{template, "elixir/lib/project_message_handler.ex", "<%= root %>/<%= project_name %>/lib/<%= project_name %>_message_handler.ex"}.
{template, "elixir/lib/project_rest_handler.ex", "<%= root %>/<%= project_name %>/lib/<%= project_name %>_rest_handler.ex"}.
{template, "elixir/lib/project_service_handler.ex", "<%= root %>/<%= project_name %>/lib/<%= project_name %>_service_handler.ex"}.
