{dir, "<%= root %>/<%= bot_name %>"}.
{template, "common/_botsunit", "<%= root %>/<%= bot_name %>/.botsunit"}.
{download, "https://raw.githubusercontent.com/ninenines/erlang.mk/master/erlang.mk", "<%= root %>/<%= bot_name %>/erlang.mk"}.

{template, "erlang/Makefile", "<%= root %>/<%= bot_name %>/Makefile"}.
{template, "erlang/README.md", "<%= root %>/<%= bot_name %>/README.md"}.

{dir, "<%= root %>/<%= bot_name %>/config"}.
{template, "erlang/config/project.config", "<%= root %>/<%= bot_name %>/config/<%= bot_name %>.config"}.

{dir, "<%= root %>/<%= bot_name %>/src"}.
{template, "erlang/src/bot.app.src", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>.app.src"}.
{template, "erlang/src/bot.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>.erl"}.
{template, "erlang/src/bot_app.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>_app.erl"}.
{template, "erlang/src/bot_sup.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>_sup.erl"}.
{template, "erlang/src/bot_initializer.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>_initializer.erl"}.
{template, "erlang/src/bot_message_handler.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>_message_handler.erl"}.
{template, "erlang/src/bot_rest_handler.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>_rest_handler.erl"}.
{template, "erlang/src/bot_service_handler.erl", "<%= root %>/<%= bot_name %>/src/<%= bot_name %>_service_handler.erl"}.

{dir, "<%= root %>/<%= bot_name %>/priv"}.
{dir, "<%= root %>/<%= bot_name %>/priv/public_files"}.
{template, "common/priv/public_files/hello_world.html",
           "<%= root %>/<%= bot_name %>/priv/public_files/hello_world.html"}.
{template, "common/priv/public_files/main.css",
           "<%= root %>/<%= bot_name %>/priv/public_files/main.css"}.

{dir, "<%= root %>/<%= bot_name %>/templates"}.
{template, "common/templates/about.tmpl", "<%= root %>/<%= bot_name %>/templates/about.tmpl"}.
