{dir, "<%= root %>/<%= project_name %>"}.
{dir, "<%= root %>/<%= project_name %>/config"}.
{dir, "<%= root %>/<%= project_name %>/src"}.

{download, "https://raw.githubusercontent.com/ninenines/erlang.mk/master/erlang.mk", "<%= root %>/<%= project_name %>/erlang.mk"}.
{template, "erlang/Makefile", "<%= root %>/<%= project_name %>/Makefile"}.
{template, "erlang/README.md", "<%= root %>/<%= project_name %>/README.md"}.
{template, "erlang/config/project.config", "<%= root %>/<%= project_name %>/config/<%= project_name %>.config"}.
{template, "erlang/src/project.app.src", "<%= root %>/<%= project_name %>/src/<%= project_name %>.app.src"}.
{template, "erlang/src/project_initializer.erl", "<%= root %>/<%= project_name %>/src/<%= project_name %>_initializer.erl"}.
{template, "erlang/src/project_message_handler.erl", "<%= root %>/<%= project_name %>/src/<%= project_name %>_message_handler.erl"}.
{template, "erlang/src/project_rest_handler.erl", "<%= root %>/<%= project_name %>/src/<%= project_name %>_rest_handler.erl"}.
{template, "erlang/src/project_service_handler.erl", "<%= root %>/<%= project_name %>/src/<%= project_name %>_service_handler.erl"}.
