[
  {wok, [
    {messages, [
      {handler, <%= project_name %>_message_handler},
      {controlers, [
        {<<"<%= project_name %>/controler/action">>, {<%= project_name %>_service_handler, action}}
      ]},
      {consumer_group, <<"<%= project_name_camelize %>">>},
      {local_queue_name, <<"<%= project_name %>_queue">>},
      {local_consumer_group, <<"<%= project_name_camelize %>ConsumerGroup">>},
      {max_services_fork, 3},
      {topics, [
        {<<"test">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}]}
      ]}
    ]}
  , {initializer, [
      {<%= project_name %>_initializer, []}
    ]}
  , {rest, [
      {port, 8080},
      {ip, "0.0.0.0"},
      {max_conn, 100},
      {routes, [
        {'GET', "/<%= project_name %>", {<%= project_name %>_rest_handler, do_get}}
      ]}
    ]}
  ]},
  {kafe, [
    {brokers, [
      {"localhost", 9092}
    ]},
    {client_id, <<"kafe">>},
    {api_version, 0},
    {correlation_id, 0}
  ]},
  {pipette, [
    {segment_path, "./queues"},
    {segment_memory_size, 10485760}, % B
    {segment_file_size, 1073741824}, % B
    {segment_flush_frequency, 0}, % ms (if = 0 flush every new data; if -1 never flush))
    {retention_hours, 1680}, % hours -- default 128
    {retention_check_interval, 300000} % ms
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time," [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/wok_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/wok_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/wok_console.log"}, {level, info}]}
    ]}
  ]}
].
